# AuthName "Restricted Area"
# AuthType Basic
# AuthUserFile /var/www/vhosts/hotsaucestudios.com/ev.hotsaucestudios.com/.htpasswd
# AuthGroupFile /dev/null
# Require valid-user
#
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
# RewriteCond %{REQUEST_URI} !^/social [NC]
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(.*) /index.html [NC,L]

AddType application/vnd.ms-fontobject eot
AddType font/truetype ttf
AddType application/x-font-woff woff
