<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
        <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <defaultDocument enabled="true">
       <files>
          <clear />
          <add value="index.cshtml" />
          <add value="index.html" />
       </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <rule name="SRBShome" enabled="true" stopProcessing="true">
          <match url="^(.+)$" negate="true" />
          <conditions>
            <add input="{REQUEST_URL}" pattern="^(.+)$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.cshtml" logRewrittenUrl="true" />
        </rule>
        <rule name="AngularJS" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.cshtml" />
        </rule>
      </rules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
