<section class="main-header" style="background-image: url('/images/charging-scene.svg')">
  <h1>Invest in an Electric Vehicle for Overall Savings</h1>
</section>

<section class="content-block-1 gas-price-cta">
  <div>
    <div>
      <h3>No more worrying about the price of gas.</h3>
      <p>Significantly lower maintenance costs. Credits and incentives against purchase or lease, plus other discounts and special rates. When you do the math, the lifetime savings on an electric vehicle are more than worth it.</p>
      <p>Electricity averages one-third to one-fourth the cost of gasoline on a per-mile basis. On top of that, electric vehicles don&apos;t require oil changes, replacing filters or spark plugs, are often exempt from emissions tests, and require less brake maintenance. Several studies have added it all up and found that EV owners save roughly $10,000 over five years compared to traditional gas vehicle owners.</p>
    </div>
    <div>
      <img src="/images/random-objects.svg" alt="Quotes">
    </div>
  </div>
</section> <!-- .content-block-1 .gas-price-cta -->

<section class="content-block-3 ways-you-save layout-1">
  <h2 class="section-introduction">More Ways You Save with EVs</h2>
  <div>
    <div>
      <p>The fuel cost and lifetime maintenance advantage are just the beginning of your savings as an EV owner. You&apos;ll also enjoy:</p>
      <ul>
        <li><a href="http://www.afdc.energy.gov/laws/fed_summary" target="_blank">Federal tax credits</a> plus <a href="http://www.afdc.energy.gov/laws/state" target="_blank">state incentives</a></li>
        <li>Special rates from your energy company, especially for off-peak charging at home</li>
        <li>Luxury feel and complimentary higher-end options that you don&apos;t get with cheaper gas models</li>
        <li>Free access to many carpool or <a href="http://www.afdc.energy.gov/laws/HOV" target="_blank">HOV lanes</a></li>
        <li>Free parking and/or charging at some public locations</li>
        <li>Registration and property tax exemptions in many states</li>
        <li>No more worrying about fluctuations in gas prices</li>
        <li>Reduced monthly lease payments or discounted/special loan terms</li>
        <li>Lower insurance rates in many states</li>
      </ul>
    </div>
    <div>
      <h3>Use these handy tools to calculate your personal savings.</h3>
      <div>
        <img src="/images/battery-and-oil.png" alt="Icon of a battery and a drop of oil">
        <p>Compare Electricity to Gas Costs</p>
        <a href="http://energy.gov/articles/egallon-how-much-cheaper-it-drive-electricity" class="detour-link" target="_blank">Try It</a>
      </div>
      <div>
        <img src="/images/wrench-and-screwdriver.png" alt="Icon of a wrench, screwdriver, and a dollar sign">
        <p>Compare Your Current Car's Lifetime Costs to an EV</p>
        <a href="http://www.afdc.energy.gov/calc/" class="detour-link" target="_blank">Try It</a>
      </div>
    </div>
  </div>
</section>

<section class="content-block-3 time-worth layout-1">
  <h2 class="section-introduction">How Much is Your Time Worth?</h2>
  <div>
    <div>
      <p>Money isn&apos;t the only thing you&apos;ll save when you join the rEVolution. You&apos;ll also get valuable time back. Imagine passing traffic because you have free access to the HOV lane. Think about how nice it will be not having to wait on oil changes or figure out when you can squeeze in other routine maintenance. Don&apos;t worry about waking up 15 minutes early so you can stop at the gas station on the way to work — with an electric vehicle, you&apos;ll start every day with a &ldquo;full tank&rdquo;.</p>
      <p>Add up the minutes saved when you no longer have to deal with so many of these little hassles, and you&apos;ll realize yet another advantage of going electric.</p>
    </div>
    <div>
      <h3>Time-Saving Tools</h3>
      <p>Learn where you can access HOV/HOT lanes for no or reduced fees.</p>
      <a href="http://www.afdc.energy.gov/laws/HOV" class="detour-link" target="_blank">Try It</a>
      <p>If you do need a refill on-the-go, PlugShare makes it easy to find a charging station near you.</p>
      <a href="https://www.plugshare.com/" class="detour-link" target="_blank">Try It</a>
    </div>
  </div>
</section> <!-- .content-block-3 -->

<section class="content-block-4 environmental-impact">
  <div>
    <h2 class="section-introduction">Driving an Electric Vehicle Reduces Your Environmental Impact</h2>
    <p>When your vehicle doesn&apos;t consume gas or produce tailpipe emissions, you are immediately helping to reduce air pollution and lowering your carbon footprint. As electricity in the United States continues to get cleaner, the positive impact of an electric vehicle will increase &mdash; along with its efficiency. This is why the <a href="https://www.nrdc.org/issues/promote-electric-vehicles" target="_blank">National Resources Defense Council</a> and other leading organizations are working to get more EVs on the road.</p>
    <a href="http://www.goelectricdrive.org/why-go-electric/environmental" target="_blank" class="detour-link">Learn More</a>
  </div>
</section> <!-- .content-block-4 -->
