<section class="main-header" style="background-image: url('/images/concierge-banner.jpg')">
  <h1>Endorsements</h1>
</section>

<section class="content-block-9">
  <div>
    <p>The Southern Company and its affiliates provide the EV recommendation tool for informational purposes only based on the information you provided. The Southern Company and its affiliates do not endorse or promote the use of any EV described in this Web site or warrant the accuracy or thoroughness of information provided in this assessment.</p>
  </div>
</section> <!-- .content-block-9 -->

<div class="page-background"></div> <!-- .page-background -->

<div id="HypeWrapper">
  <div id="{{viewportWidth}}_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite">
    <div class="section-introduction-container">
      <h2 class="section-introduction">R<span>ev</span>olutionary Recommender</h2>
    </div> <!-- .section-introduction-container -->
  </div>
</div> <!-- .id="HypeWrapper" -->

<!-- Revolutionary Recommender -->
<script src="/revolutionary-recommender/tablet/tablet.hyperesources/tablet_hype_generated_script.js"></script>
<script src="/revolutionary-recommender/phone/phone.hyperesources/phone_hype_generated_script.js"></script>
