<div class="page-background"></div> <!-- .page-background -->

<section class="main-header" style="background-image: url('/images/concierge-banner.jpg')">
  <h1>EVconcierge brings personalized service to buyers and owners</h1>
</section>

<section id="join-revolution" class="content-block-1 layout-1 join-revolution">
  <h2 class="section-introduction">Another Reason to join the revolution</h2>
  <div>
	  <div class="description">
      <h3>EVconcierge offers custom service and support for electric vehicle buyers and owners</h3>
  		<p>We hope you&apos;ve enjoyed using our rEVolutionary Recommender to find and compare electric vehicles based on the things that matter to you.</p>
  		<p>Our goal is to continue to offer unbiased information and support to buyers who are looking to join the rEVolution. Buying a car is a major investment, and we believe that you should feel 100% confident and comfortable in making the decision to go electric.</p>
  		<p>That&apos;s why the Recommender is just the beginning—over the coming months, we will be unveiling EVconcierge. This new service will provide one-on-one support and assistance to EV buyers and owners. Need help finding a dealer who sells the model you want? Want advice on which home charging setup is best for you? We&apos;ll be here to help.</p>
  		<p>Don&apos;t miss out on the evolution of the rEVolution. <a href="/#/">Sign up for email updates</a> to be notified when EVconcierge and other new site features become available.</p>
	  </div>
    <div class="image">
      <img src="/images/ev-on-a-platter.png" alt="Illustration of an EV on a platter">
    </div>
  </div>
</section>

<div id="HypeWrapper">
  <div id="{{viewportWidth}}_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite">
    <div class="section-introduction-container">
      <h2 class="section-introduction">R<span>ev</span>olutionary Recommender</h2>
    </div> <!-- .section-introduction-container -->
  </div>
</div> <!-- .id="HypeWrapper" -->
