<section class="main-header" style="background-image: url(&apos;/images/street-scene.png&apos;)">
  <h1>Technology and Efficiency Combine for Great Performance</h1>
</section>

<section class="content-block-1 quotes">
  <div>
    <div>
      <img src="/images/EV_Preformance_Quotes.png" alt="Quotes from happy customers of electric vehicles">
    </div>
    <div>
      <h3>Today&apos;s electric vehicles are leading the way when it comes to high-powered driving performance. Ask electric vehicle owners what it&apos;s like to drive their car and you&apos;ll see.</h3>
      <p>As members of the rEVolution, they have discovered the benefits of a motor that doesn&apos;t require revving or shifting gears to create speed. They&apos;re enjoying the instant torque and responsiveness that you get without so much heavy internal machinery. They know they can compete with &mdash; or beat &mdash; traditional cars in going from 0-60 mph.</p>
      <p>Performance doesn&apos;t only matter to gearheads or sports car enthusiasts, though. All drivers appreciate the convenience of quickly passing that one slow car in traffic, or the reassurance of responsive handling on a tight sharp turn.</p>
      <p>Electric motors can handle whatever the road throws at them, and they do it <a href="http://www.goelectricdrive.org/why-go-electric/ev-safety" target="_blank">safely</a> and <a href="http://www.goelectricdrive.org/why-go-electric/performance" target="_blank">efficiently</a>. And that&apos;s appealing to everyone.</p>
    </div>
  </div>
</section> <!-- .content-block-1 .quotes -->

<section class="content-block-9">
  <h2 class="section-introduction">What About Style?</h2>
  <div>
    <p>You want a car that performs, but you want it to look good. You also want to be able to pick the size and body style that best suits your lifestyle. In the early days, electric car selection and variety were limited but now, with 20+ plug-in models (and even more hybrids) available, buyers have plenty of attractive options to choose from.</p>
    <a href="/gallery" class="detour-link">View EV Gallery</a>
    <div class="items">
      <div>
        <img src="/images/chvrolet-volt-1.png" alt="Photograph of an electric vehicle">
        <h3>Chevrolet Volt</h3>
      </div>
      <div>
        <img src="/images/tesla-model-3-1.png" alt="Photograph of an electric vehicle">
        <h3>Tesla Model 3</h3>
      </div>
      <div>
        <img src="/images/mitsubishi-iMiEV-1.png" alt="Photograph of an electric vehicle">
        <h3>Mitsubishi i-MIEV</h3>
      </div>
    </div> <!-- .items -->
  </div>
</section> <!-- .content-block-9 -->

<section class="content-block-3 range-confidence sections">
  <h2 class="section-introduction">Drive with Range Confidence</h2>
  <div>
    <div>
      <img src="/images/range.png" alt="">
      <h3>Did you know? Most Americans drive less than 40 miles per day.</h3>
      <p>The average commuter needn&apos;t worry about range — most electric vehicles can cover 80-100 miles on a single charge under standard conditions. For those with longer commutes, or who like to take road trips, several upcoming EV models will provide 200+ miles of coverage on a single charge. Plug-in hybrids are another option for extended range.</p>
    </div>
    <div>
      <img src="/images/charge.png" alt="">
      <h3>Charging: Where you need it, when you need it.</h3>
      <p>Charging at home is the most convenient and common method for “fueling up” an electric vehicle. Many workplaces provide free charging for EVs, and more and more shopping centers and other public venues offer free or pay-as-you-go charging access. There are also nationwide charging networks providing free, pay-as-you-go, or subscription models.</p>
    </div>
  </div>
</section> <!-- .content-block-3 .sections -->

<section class="content-block-4 tech">
  <div>
    <h2 class="section-introduction">Tech to Support Your EV</h2>
    <p>From real-time car efficiency data to remote starting to finding a charging station, a variety of apps and tools are available to EV owners. Check with your vehicle&apos;s manufacturer or visit your device&apos;s app store to find your support-on-the-go solution.</p>
  </div>
</section> <!-- .content-block-4 -->
