<div class="page-background"></div> <!-- .page-background -->

<section class="main-header" style="background-image: url('/images/resources-banner.jpg')">
  <h1>Resources</h1>
</section>

<section class="content-block-3 additional-resources">
  <div>
    <div>
      <h3>General Information about Electric Vehicles</h3>
      <ul>
        <li><a href="http://www.goelectricdrive.org/" target="_blank" class="detour-link">GoElectricDrive.org</a></li>
        <li><a href="http://www.afdc.energy.gov/fuels/electricity.html" target="_blank" class="detour-link">Alternative Fuels Data Center</a></li>
        <li><a href="https://pluginamerica.org/" target="_blank" class="detour-link">Plug In America</a></li>
      </ul>
      <h3>Electric and Plug-in Hybrid Vehicle Manufacturers</h3>
      <ul class="car-brands">
        <li><a href="https://www.audiusa.com/technology/efficiency/e-tron" target="_blank" class="detour-link">Audi</a></li>
        <li><a href="http://www.bmwusa.com/bmw/bmwi" target="_blank" class="detour-link">BMW</a></li>
        <li><a href="http://www.chevrolet.com/electric-hybrid-vehicles.html" target="_blank" class="detour-link">Chevrolet</a></li>
        <li><a href="http://www.ford.com/new-hybrids-evs/" target="_blank" class="detour-link">Ford</a></li>
        <li><a href="http://www.mitsubishicars.com/imiev" target="_blank" class="detour-link">Mitsubishi</a></li>
        <li><a href="http://www.nissanusa.com/electric-cars/leaf/" target="_blank" class="detour-link">Nissan</a></li>
      </ul>
      <ul class="car-brands">
        <li><a href="http://www.porsche.com/microsite/mission-e/international.aspx" target="_blank" class="detour-link">Porsche</a></li>
        <li><a href="http://www.smartusa.com/models/electric-coupe" target="_blank" class="detour-link">Smart</a></li>
        <li><a href="https://www.tesla.com/" target="_blank" class="detour-link">Tesla</a></li>
        <li><a href="http://www.toyota.com/upcoming-vehicles/prius-prime/" target="_blank" class="detour-link">Toyota</a></li>
        <li><a href="http://www.volvocars.com/us/about/our-innovations/drive-e" target="_blank" class="detour-link">Volvo</a></li>
      </ul>
    </div>
    <div>
      <h3>Charging Stations and Networks</h3>
      <ul>
        <li><a href="https://www.plugshare.com/" target="_blank" class="detour-link">PlugShare</a></li>
        <li><a href="http://www.chargepoint.com/" target="_blank" class="detour-link">ChargePoint</a></li>
        <li><a href="http://greenlots.com/" target="_blank" class="detour-link">Greenlots</a></li>
        <li><a href="https://www.clippercreek.com/" target="_blank" class="detour-link">ClipperCreek</a></li>
        <li><a href="http://www.afdc.energy.gov/fuels/electricity_locations.html" target="_blank" class="detour-link">AFDC Locations Map</a></li>
      </ul>
      <img src="/images/charging-car.png" alt="Charging electric vehicle">
    </div>
  </div>
</section> <!-- .content-block-3 -->

<section id="nearby-charging-stations" class="content-block-1 find-charging-stations">
  <h2 class="section-introduction">Find Charging Stations Near You</h2>
  <div>
    <iframe style="width: 100%; height: 580px; border: 1px solid #ccc;" src="http://www.afdc.energy.gov/locator/stations/widget/?fuel=ELEC" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
    <p>Total charging time depends on the type of charge you use: <a href="http://www.goelectricdrive.org/charging-ev/charging-101" target="_blank">Level 1, Level 2 or DC Fast Charge</a>.</p>
    <p><a href="http://www.goelectricdrive.org/charging-ev/charging-101" target="_blank">Read more</a> about these charging options to decide which is best for you.</p>
  </div>
</section> <!-- .content-block-1 .find-charging-stations -->

<div id="HypeWrapper">
  <div id="{{viewportWidth}}_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite">
    <div class="section-introduction-container">
      <h2 class="section-introduction">R<span>ev</span>olutionary Recommender</h2>
    </div> <!-- .section-introduction-container -->
  </div>
</div> <!-- .id="HypeWrapper" -->
