<h2 class="block-title">main header</h2>
<section class="main-header" style="background-image: url('/images/concierge-banner.jpg')">
  <h1>Main Header</h1>
</section>

<h2 class="block-title">content-block-1 left</h2>
<section class="content-block-1">
  <div>
    <div>
      <h3>No more worrying about the price of gas.</h3>
      <p>Significantly lower maintenance costs. Credits and incentives against purchase or lease, plus other discounts and special rates. When you do the math, the lifetime savings on an electric vehicle are more than worth it.</p>
      <p>Electricity averages one-third to one-fourth the cost of gasoline on a per-mile basis. On top of that, electric vehicles don&apos;t require oil changes, replacing filters or spark plugs, are often exempt from emissions tests, and require less brake maintenance. Several studies have added it all up and found that EV owners save roughly $10,000 over five years compared to traditional gas vehicle owners.</p>
    </div>
    <div>
      <img src="/images/random-objects.svg" alt="Quotes">
    </div>
  </div>
</section> <!-- .content-block-1 -->

<h2 class="block-title">content-block-1 right</h2>
<section class="content-block-1">
  <div>
    <div>
      <img src="/images/EV_Preformance_Quotes.png" alt="Quotes from happy customers of electric vehicles">
    </div>
    <div>
      <h3>Today&apos;s electric vehicles are leading the way when it comes to high-powered driving performance. Ask electric vehicle owners what it&apos;s like to drive their car and you&apos;ll see.</h3>
      <p>As members of the rEVolution, they have discovered the benefits of a motor that doesn&apos;t require revving or shifting gears to create speed. They&apos;re enjoying the instant torque and responsiveness that you get without so much heavy internal machinery. They know they can compete with &mdash; or beat &mdash; traditional cars in going from 0-60 mph.</p>
      <p>Performance doesn&apos;t only matter to gearheads or sports car enthusiasts, though. All drivers appreciate the convenience of quickly passing that one slow car in traffic, or the reassurance of responsive handling on a tight sharp turn.</p>
      <p>Electric motors can handle whatever the road throws at them, and they do it <a href="http://www.goelectricdrive.org/why-go-electric/ev-safety" target="_blank">safely</a> and <a href="http://www.goelectricdrive.org/why-go-electric/performance" target="_blank">efficiently</a>. And that&apos;s appealing to everyone.</p>
    </div>
  </div>
</section> <!-- .content-block-1 -->

<h2 class="block-title">content-block-3</h2>
<section class="content-block-3 layout-1">
  <h2 class="section-introduction">More Ways You Save with EVs</h2>
  <div>
    <div>
      <p>The fuel cost and lifetime maintenance advantage are just the beginning of your savings as an EV owner. You&apos;ll also enjoy:</p>
      <ul>
        <li><a href="http://www.afdc.energy.gov/laws/fed_summary" target="_blank">Federal tax credits</a> plus <a href="http://www.afdc.energy.gov/laws/state" target="_blank">state incentives</a></li>
        <li>Special rates from your energy company, especially for off-peak charging at home</li>
        <li>Luxury feel and complimentary higher-end options that you don&apos;t get with cheaper gas models</li>
        <li>Free access to many carpool or <a href="http://www.afdc.energy.gov/laws/HOV" target="_blank">HOV lanes</a></li>
        <li>Free parking and/or charging at some public locations</li>
        <li>Registration and property tax exemptions in many states</li>
        <li>No more worrying about fluctuations in gas prices</li>
        <li>Reduced monthly lease payments or discounted/special loan terms</li>
        <li>Lower insurance rates in many states</li>
      </ul>
    </div>
    <div>
      <h3>Use these handy tools to calculate your personal savings.</h3>
      <div>
        <img src="/images/battery-and-oil.png" alt="Icon of a battery and a drop of oil">
        <p>Compare Electricity to Gas Costs</p>
        <a href="http://energy.gov/articles/egallon-how-much-cheaper-it-drive-electricity" class="detour-link" target="_blank">Try It</a>
      </div>
      <div>
        <img src="/images/wrench-and-screwdriver.png" alt="Icon of a wrench, screwdriver, and a dollar sign">
        <p>Compare Your Current Car's Lifetime Costs to an EV</p>
        <a href="http://www.afdc.energy.gov/calc/" class="detour-link" target="_blank">Try It</a>
      </div>
    </div>
  </div>
</section>

<h2 class="block-title">content-block-4</h2>
<section class="content-block-4 tech">
  <div>
    <h2 class="section-introduction">Tech to Support Your EV</h2>
    <p>From real-time car efficiency data to remote starting to finding a charging station, a variety of apps and tools are available to EV owners. Check with your vehicle&apos;s manufacturer or visit your device&apos;s app store to find your support-on-the-go solution.</p>
  </div>
</section> <!-- .content-block-4 -->.u

<h2 class="block-title">content-block-7</h2>
<section class="content-block-7">
  <div>
    <div>
      <h3>Find the Ideal Electric Vehicle for Your Needs</h3>
      <p>More drivers are choosing electric vehicles over traditional gas models, creating a driving rEVolution. Ready to join us in driving change? We&apos;re here to help, with tools and expertise to help you find your perfect new EV.</p>
      <p>Find out more about the <a href="#ev-advantage">advantages of going electric</a> and see <a href="#HypeWrapper">which EV suits you best</a>!</p>
      <ul>
        <li>Unbiased vehicle recommendations</li>
        <li>Compare EVs based on the things that matter to you</li>
        <li>Ongoing updates and information dedicated to providing you with a unique <a href="/concierge">EVconcierge experience</a></li>
      </ul>
    </div>
  </div>
</section> <!-- .content-block-7 -->

<h2 class="block-title">content-block-8</h2>
<section class="content-block-8">
  <div>
    <h2 class="section-introduction">Discover the EV Advantage</h2>
    <p>Like all new technology, the amount of information around electric vehicles can feel overwhelming. To help you decide if an EV is right for you, we&apos;ve broken down the key benefits:</p>

    <div class="sections">
      <section>
        <img src="/images/2.8secs.png" alt="Tachometer">
        <h3>All the performance you&apos;d expect &mdash; and more</h3>
        <p>Instant torque is just the beginning. Learn why going electric doesn&apos;t mean sacrificing performance or style.</p>
        <a href="/performance" class="detour-link">Learn More</a>
      </section>
      <section>
        <img src="/images/savings.png" alt="Saving money">
        <h3>Lower total cost of ownership, plus fewer hassles</h3>
        <p>Freedom from the pump gives you back money and valuable time. Discover all the ways you can save with an EV.</p>
        <a href="/affordable" class="detour-link">Learn More</a>
      </section>
    </div> <!-- .sections -->
  </div>
</section> <!-- #ev-advantage .ev-advantage -->

<h2 class="block-title">content-block-9</h2>
<section class="content-block-9">
  <h2 class="section-introduction">What About Style?</h2>
  <div>
    <p>You want a car that performs, but you want it to look good. You also want to be able to pick the size and body style that best suits your lifestyle. In the early days, electric car selection and variety were limited but now, with 20+ plug-in models (and even more hybrids) available, buyers have plenty of attractive options to choose from.</p>
    <div class="items">
      <div>
        <img src="/images/chvrolet-volt-1.png" alt="Photograph of an electric vehicle">
        <h3>Chevrolet Volt</h3>
      </div>
      <div>
        <img src="/images/tesla-model-3-1.png" alt="Photograph of an electric vehicle">
        <h3>Tesla Model 3</h3>
      </div>
      <div>
        <img src="/images/mitsubishi-iMiEV-1.png" alt="Photograph of an electric vehicle">
        <h3>Mitsubishi i-MIEV</h3>
      </div>
    </div> <!-- .items -->
  </div>
</section> <!-- .content-block-9 -->

<h2 class="block-title">Revolutionary Recommender</h2>
<div id="HypeWrapper">
  <div id="{{viewportWidth}}_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite">
    <div class="section-introduction-container">
      <h2 class="section-introduction">R<span>ev</span>olutionary Recommender</h2>
    </div> <!-- .section-introduction-container -->
  </div>
</div> <!-- .id="HypeWrapper" -->
