<div class="page-background"></div> <!-- .page-background -->

<section class="join-the-revolution">
  <div>
    <img id="car-1" class="car car-1" src="/images/car-1.png" alt="Illustration of an electric vehicle">
    <h1>Join the <div>R<span>ev</span>olution</div></h1>
    <div class="cta">
      <img class="car car-2" src="/images/car-2.png" alt="Illustration of an electric vehicle">
      <h3>Luxury or practicality?</h3>
      <p>Find Your Perfect EV with the <span>R<span>ev</span>olutionary Recommender</span></p>
      <a  ng-click="animateTo('#revolutionary-recommender-anchor')" class="button">Try it Here</a>
    </div> <!-- .cta -->
  </div>
</section> <!-- .join-the-revolution -->

<section class="content-block-7 find-for-your-needs">
  <div>
    <div>
      <h3>Find the Ideal Electric Vehicle for Your Needs</h3>
      <p>More drivers are choosing electric vehicles over traditional gas models, creating a driving rEVolution. Ready to join us in driving change? We&apos;re here to help, with tools and expertise to help you find your perfect new EV.</p>
      <p>Find out more about the <a href="#ev-advantage">advantages of going electric</a> and see <a href="#{{viewportWidth}}_hype_container" class="jump-link">which EV suits you best</a>!</p>
      <ul>
        <li>Unbiased vehicle recommendations</li>
        <li>Compare EVs based on the things that matter to you</li>
        <li>Ongoing updates and information dedicated to providing you with a unique <a href="/concierge">EVconcierge experience</a></li>
      </ul>
    </div>
  </div>
</section> <!-- .content-block-1 -->

<div id="revolutionary-recommender-anchor"></div>
<div id="HypeWrapper">
  <div id="{{viewportWidth}}_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite">
    <div class="section-introduction-container">
      <h2 class="section-introduction">R<span>ev</span>olutionary Recommender</h2>
    </div> <!-- .section-introduction-container -->
  </div>
</div> <!-- #HypeWrapper -->

<section id="ev-advantage" class="ev-advantage content-block-8">
  <div>
    <h2 class="section-introduction">Discover the EV Advantage</h2>
    <p>Like all new technology, the amount of information around electric vehicles can feel overwhelming. To help you decide if an EV is right for you, we&apos;ve broken down the key benefits:</p>

    <div class="sections">
      <section>
        <img src="/images/2.8secs.png" alt="Tachometer">
        <h3>All the performance you&apos;d expect &mdash; and more</h3>
        <p>Instant torque is just the beginning. Learn why going electric doesn&apos;t mean sacrificing performance or style.</p>
        <a href="/performance" class="detour-link">Learn More</a>
      </section>
      <section>
        <img src="/images/savings.png" alt="Saving money">
        <h3>Lower total cost of ownership, plus fewer hassles</h3>
        <p>Freedom from the pump gives you back money and valuable time. Discover all the ways you can save with an EV.</p>
        <a href="/affordable" class="detour-link">Learn More</a>
      </section>
    </div> <!-- .sections -->
  </div>
</section> <!-- #ev-advantage .ev-advantage -->
