// template.scss
// November 1, 2016
// Alexander Rhett Crammer
// Hot Sauce
@import "../init";

.template {
  .main-header {
    background: {
      position: center center;
      size: cover;
    }
  }
}
